:root {
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: blue;
}
.navlink {
  padding: 10;
  background: yellow;
}

nav {
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: green;
}
