:root {
  --background-surface: #efefef;
  --primaryColor: #43281c;
  --secondaryColor: #333d29;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: blue;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: green;
}
